<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}_UNAVAILABLE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        img {
           width: 100%;
           height: auto; 
        }
    </style>

</head>
<body>
    <header class="py-5 bg-dark text-light">
        <div class="container">
            <h1>{{ .Site.Title }}</h1>
            {{ .Content }}
        </div>
    </header>

    <main class="container py-3">
        <div class="row">
            {{ range .Params.Student }}
            <div class="col-md-4">
                <h2>{{ .name }}</h2>
                <a href="{{ .link }}presentation.mp4">
                    <img src="{{ .link }}presentation.png" alt="Final project slide for {{ .name }} can not be found">
                </a>
            </div>
            {{ end }}
        </div>
    </main>

    <footer class="py-3 bg-dark text-light">
        <div class="container">
            &copy; Aalto Fablab and students
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>


